.places {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-column-gap: 17px;
  column-gap: 17px;
  row-gap: 20px;
}