.popup__close-button {
  margin: 0;
  padding: 0;

  width: 32px;
  height: 32px;

  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  background-image: url("../../../images/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;

  cursor: pointer;
  transition-property: opacity, transform;
  transition: 0.5s linear;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1080px) {
  .popup__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
