.profile__info {
  margin: 0;
  margin-right: auto;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 396px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: max-content;
  grid-template-areas:
    "title button"
    "subtitle subtitle";
  column-gap: 16px;
  row-gap: 14px;
  align-items: baseline;
}

@media screen and (max-width: 640px) {
  .profile__info {
    width: 100%;
    margin-left: auto;
    padding-top: 26px;
    padding-bottom: 32px;
    column-gap: 10px;
    row-gap: 8px;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 26px;
    padding-bottom: 32px;
  }
}
