.profile__info {
  margin: 0;
  margin-right: auto;
  padding: 0 30px;
  box-sizing: border-box;

  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(fit-content, 1fr));
  grid-template-areas: 
    "title button"
    "subtitle subtitle";
  column-gap: 16px;
  row-gap: 16px;
  align-items: baseline;
}

@media screen and (max-width: 640px) {
  .profile__info {
    width: auto;
    margin-left: auto;
    padding-top: 26px;
    padding-bottom: 36px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 26px;
    padding-bottom: 36px;
  }
}