.footer {
  margin: 0 auto;
  padding: 67px 200px 60px;
}

@media screen and (max-width: 1080px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    padding-left: 19px;
    padding-right: 19px;
  }
}