.footer {
  margin: 0 auto;
  padding: 67px 0 60px;
  max-width: 880px;
}

@media screen and (max-width: 1080px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}
